*,
*::before,
*::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
}

body {
    padding: 10px;
    background-color: #606060;
    line-height: 1.2;
    font-size: 14px;
    background-image: url('https://st3.depositphotos.com/8159024/16422/i/450/depositphotos_164227780-stock-photo-opening-intro-flash-light-lens.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.paragraph {
    color: #000000 !important;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
}

h1 {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
}


a {
    text-decoration: none;
    color: green;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 500;
}

#card, #goal {
    color: red;
    font-weight: 700;
}

ul {
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style: none;
    padding: 20px;
    border-bottom: 1px solid #fff;
    li a {
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
    }
}

ol {
    li {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 15px;
    }
}


table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 30px;
}

th, td {
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
    a {
        color: #ffffff;
    }
}



.col1 {
    background-color: lightblue;
}

.col2 {
    background-color: lightgreen;
}

.col3 {
    background-color: lightyellow;
}


.intro .paragraph {
    font-size: 20px;
    color: #ffffff !important;
}


.card a + img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.card + .text {
    border-top: 2px solid #000000;
    padding-top: 50px;
}

.paragraph > span {
    font-weight: 700;
    color: #ffffff;
}
.card > img, .card a > img {
    width: 400px;
    height: 400px;
}


